.wrapper {position:relative;width:200px;}
.bp_img {width:200px;margin:0 5%;border:black solid 1px}
.fl {float:left;}
.textboxToOverlay {
  background:hsla(0, 75%, 50%, 0.5);
  text-align:center;
  /* padding: 0 1em; */
  width: 8em;
}
.textPositionFromLeft {
  position: absolute; top: 6em; left: 2em;
}